<div class="guia-container">
  <div class="topo-titulo">
    <h1>Como Funciona</h1>
  </div>

  <section class="secao">
    <h2>Como é que funciona o Democrac_IA?</h2>
    <div class="cartao">
      <p>
        O Democrac_IA é como um bibliotecário inteligente que sabe tudo sobre os debates da
        Assembleia da República desde <b>Dezembro de 2006 até Janeiro de 2026</b>.
      </p>
      <p>
        Graças ao trabalho árduo das pessoas que fazem de transcrição e organização dos documentos
        parlamentares, que podes encontrar aqui
        <a href="https://debates.parlamento.pt/" target="_blank" rel="noopener">parlamento.pt</a>, o
        Democrac_IA tem acesso a uma vasta coleção de textos. Que foram todos transferidos para
        serem usados nesta aplicação.
      </p>
      <p>
        O Democrac_IA NÃO faz pedidos diretos ao servidor do parlamento para obter informações. Em
        vez disso, usa uma cópia local no próprio servidor do Democrac_IA dos documentos que foram
        processados e organizados antecipadamente.
      </p>
      <p>
        Em teoria esta aplicação poderia usar documentos desde 1821 mas devido a limitações técnicas
        é focada em dados mais recentes e isto ajuda-te a encontrar respostas sobre o que os
        deputados dizem, votam e discutem.
      </p>
      <p>
        Imagina que tens milhares de livros (documentos de sessões parlamentares) e queres saber
        algo específico. O Democrac_IA lê rapidamente todos os livros e conta-te exatamente o que
        encontraste.
      </p>
      <p>
        Para além disso é possivel obter cada intervenção dos deputados e ainda obter um resumo das noticias do momento
      </p>
      <p>
        Se tens uma dúvida ou estás à procura de algum contacto
        <a
          target="_blank"
          rel="noopener"
          href="https://docs.google.com/forms/d/e/1FAIpQLScC9F97fEgrutyW_LnW7WYc2lF10_TBfIxd44hmA4Gmj2kDBA/viewform?usp=header"
          >vai aqui</a
        >
      </p>

      <div class="cartao">
        <h3>1. Fazes uma pergunta</h3>
        <p>
          Como "Quem votou contra a aquela coisa que aconteceu naquela altura?" ou "O que disse o
          deputado X sobre o assunto daquela coisa?".
        </p>

        <h3>2. A app procura nos documentos</h3>
        <p>
          O Democrac_IA tem uma "biblioteca" com milhares de páginas de debates parlamentares. Ele
          usa magia matemática para encontrar as partes mais relacionadas com a tua pergunta.
        </p>

        <h3>3. Entra a IA para perceber a resposta</h3>
        <p>
          Um modelo de linguagem avançado entra no cenário e lê essas partes e cria uma resposta
          clara sobre o tema.
        </p>

        <h3>4. Vês a resposta e as fontes</h3>
        <p>
          Para dar confiança na resposta, o Democrac_IA indica exatamente de onde veio a informação.
          É mostrado as fontes com links para os documentos originais. Podes clicar e ver exatamente
          de onde veio a informação.
        </p>
      </div>

       <h2>Como é que o Democrac_IA realmente funciona</h2>
      <p>
        Se tens curiosidade sobre como tudo funciona por dentro, o código é aberto e está disponível no
        <a href="https://github.com/brunu97/democrac_ia-open/blob/master/ComoFunciona/comoFunciona.md" target="_blank" rel="noopener">GitHub</a>.
      </p>
    </div>
  </section>
</div>
